<script defer src="/js/auth/login.js"></script>

<div class="container">
  <div class="wrap-auth">
    <form id='login-form'>
      <h2 class="error-message"></h2>
      <div class="mb-3">
        <label for="register-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="register-email" name="email">
      </div>
      <div class="mb-3">
        <label for="register-password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="register-password" name="password">
      </div>
      <button type="submit" class="btn btn-primary" data-type="login-btn">Войти</button>
    </form>
  </div>
</div>
