<script defer src="/js/auth/register.js"></script>

<div class="container">
  <div class="wrap-auth">
    <form id='register-form'>
      <h3 class="error-message"></h3>
      <div class="mb-3">
        <label for="register-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="register-email" name="email">
      </div>
      <div class="mb-3">
        <label for="register-name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="register-name" name="name">
      </div>
      <div class="mb-3">
        <label for="register-password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="register-password" name="password">
      </div>
      <div class="mb-3">
        <label for="register-repeatPass" class="form-label">Повторите пароль</label>
        <input type="password" class="form-control" id="register-repeatPass" name="repeatPass">
      </div>
      <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
  </div>
</div>
