<tr id='{{newCategory._id}}'>
  <td>{{newCategory.name}}</td>
  <td>in progress...</td>
  <td>
    <div class="contact" id='{{newCategory._id}}' data-name="{{newCategory.name}}">
        <span  class="lar la-edit" data-type="category"></span>
        <span  class="las la-trash" data-type="category"></span>
    </div>
  </td>
</tr>
